html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 600px;
  border: 1px dashed #ccc;
  margin: 0 auto;
  padding: 15px 15px 20px 15px;
  font-size: 14px;
}

header {
  padding: 15px;
  background-color: #666;
  text-align: center;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  margin: -15px -15px 0;
}

input[type=text] {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
}

.diner .item,
.sharing-list .item {
  display: flex;
  gap: 0 2%;
  flex-wrap: wrap;
}

.plus-minus-indiv,
.plus-minus-sharing {
  display: flex;
  align-items: center;
  width: 55px;
  gap: 0 5px;
}

.title-header {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 10px 0;
  letter-spacing: -1px;
  color: #333;
}

.title-header.for-diners {
  margin: 15px 0 7px 0;
  color: #333;
}

.diners-list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.diner {
  background-color: #eeee;
  padding: 15px;
  border-radius: 5px;
}

.diner .item-list {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.food-name {
  width: calc(59% - 55px);
}

.price {
  width: calc(47% - 55px);
}

.plus-minus-indiv .circle-btn,
.plus-minus-sharing .circle-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  background-color: #6ec757;
}

.plus-minus-indiv .indiv-plus,
.plus-minus-sharing .sharing-plus {
  background-color: #6ec757;
}

.plus-minus-indiv .indiv-minus,
.plus-minus-sharing .sharing-minus {
  background-color: #ec554f;
}

.plus-minus-indiv .indiv-minus.disabled,
.plus-minus-sharing .sharing-minus.disabled {
  pointer-events: none;
  background-color: #ccc;
}

.plus-minus-indiv .circle-btn img,
.plus-minus-sharing .circle-btn img{
  width: 10px;
  display: block;
}

.diners .add-diner {
  background-color: #fff;
  margin: 0px 0px 20px -15px;
  text-align: right;
  cursor: pointer;
}

.diners .add-diner .button {
  padding: 10px 15px;
  background-color: #6ec757;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
}

.sharing-plates {
  background-color: #eee;
  padding: 11px 15px 20px 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.sharing-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.taxes {
  padding: 11px 15px 20px 15px;
  background-color: #eee;
  margin-top: 15px;
  border-radius: 5px;
}

.taxes-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  color: #333;
}

.results {
  margin-top: 20px;
}

.results .title-header {
  color: #333;
  padding: 0 10px;
  display: flex;
}

.results .item {
  display: flex;
  padding: 10px;
}

.results .item:nth-of-type(even) {
  background-color: #ededed;
}

.results .item .name,
.results .title-header .name {
  width: 50%;
}

.results .item .total,
.results .title-header .total {
  width: 39%;
}

.indiv-list {
  margin-top: 12px;
}