html{
  margin:0;
  padding:0;
}

*{
  box-sizing: border-box;
}

img{
  max-width:100%;
}

.viewport:after {
  display:none;
  content: 'XS, smaller than 576px';
  font-size: 10px;
  background-color: #eee;
  color: #999;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; 
}